<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="CodeHim">
      <title>Our Team</title>
      <!-- Style CSS -->
      <link rel="stylesheet" href="/css/team.css">
      
   </head>
   <body>
      <!--$%adsense%$-->
      <main class="cd__main">
         <div class="circle-top"></div>
<div class="circle-bottom"></div>
<header>
  <div class="header-content">
    <span>IT Interns</span>
    <h1>Meet a team of experts and innovators who are pioneers in their field</h1>
  </div>
  <div class="nav-buttons">
    <a href="/" class="nav-button">home</a>
    <a href="https://imcindore.mp.gov.in/" class="nav-button">IMC</a>
    <a href="/userlogin" class="nav-button">Login</a>
</div>
</header>
<section>
  <div class="card-top">
    <div class="card">
      <img src="img/avatar.svg" alt="PRATIK KATIYAR">
      <h2>PRATIK KATIYAR</h2>
      <p>Intern Head</p>
    </div>
    <div class="card">
        <img src="img/avatar.svg" alt="SAGAR PAWAR">
      <h2>SAGAR PAWAR </h2>
      <p>Intern Head</p>
    </div>
    <div class="card">
        <img src="img/avatar.svg" alt="ANUJ PAWAR">
      <h2>ANUJ PAWAR</h2>
      <p>Intern Head</p>
    </div>    
    <div class="card">
      <img src="img/avatar.svg" alt="AMAN SALVI">
      <h2>AMAN SALVI</h2>
      <p>Intern Head</p>
    </div>
  </div>
  <div class="card">
    <img src="images/Kunal Malviya.jpeg" alt="KUNAL MALVIYA">
    <h2>KUNAL MALVIYA </h2>
    <p>IT Intern</p>
    <a href="https://www.linkedin.com/in/kunal-malviya-294b2b255/">LinkedIn</a>
  </div>
  <div class="card">
    <img src="images/Piyush Madhukar.jpeg" alt="PIYUSH MADHUKAR">
    <h2>PIYUSH MADHUKAR</h2>
    <p>IT Intern</p>
    <a href="https://www.linkedin.com/in/piyush-madhukar-966b9a259/">LinkedIn</a>
  </div>
  <div class="card">
    <img src="images/Cheshta Khurana.jpeg" alt="Cheshta Khurana">
    <h2>CHESHTA KHURANA </h2>
    <p>IT Intern</p>
    <a href="https://www.linkedin.com/in/cheshta-khurana-a072891b5/">LinkedIn</a>
  </div>
  <div class="card">
    <img src="images/Nandini Joshi.jpg" alt="Nandini Joshi">
    <h2>NANDINI JOSHI</h2>
    <p>IT Intern</p>
    <a href="http://www.linkedin.com/in/joshi-nandini">LinkedIn</a>
  </div>
  <div class="card">
    <img src="images/Priya.jpg" alt="Priya Gohite">
    <h2>PRIYA GOHITE </h2>
    <p>IT Intern</p>
    <a href="https://www.linkedin.com/in/priya-gohite-b41136231?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
  </div>
  <div class="card">
    <img src="images/Pranaya Choudhary.jpeg" alt="PRANAYA CHOUDHARY">
    <h2>PRANAYA CHOUDHARY</h2>
    <p>IT Intern</p>
    <a href="https://www.linkedin.com/in/pranaya-choudhary-847236222?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
  </div>
  <div class="card">
    <img src="images/Dhanshree Choudhary.jpeg" alt="DHANSHREE CHOUDHARY">
    <h2>DHANSHREE CHOUDHARY</h2>
    <p>IT Intern</p>
    <a href="https://www.linkedin.com/in/dhanshree-choudhary-89a525224?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
  </div>
</section>
   </body>
</html>